/*--透明背景--*/
.opacity_bg{width:100%; height: 100%;  background: #000; opacity: .5; position: fixed; top: 0; left: 0;z-index: 9000;}
/*--选择要添加的证件--*/
.add_paper{  background: #fff; height: 100%; position: fixed; top: 50%; left: 50%; z-index: 10000; box-shadow:0px 0px 16px 0px rgba(0,0,0,0.30); border-radius:2px;}
.add_paper .padent{ position: relative; padding: 14px 18px; display: inline-block; width: 100%;}
.add_paper .title{width: 92%; }
.add_paper ul{padding-top: 20px;}
.add_paper ul li{float: left; width: 262px; padding: 13px 0; }
.add_paper ul li em{cursor: pointer;}

.add_paper .title,.add_paper #close{display: inline-block;height: 40px; background: #e8e8e8; text-align: center; line-height: 40px; font-size: 16px; }
.add_paper #close{ width: 8%; color: #fff; background-color: #ddd; cursor: pointer;}
.add_paper #close:hover{ background-color: #4acb81 }
.dialogbody{
	position: absolute; bottom: 70px; left: 20px; right: 20px; top:68px; 
	 background-color: #fff;overflow: auto;
}
.dialogFooter{
	position: absolute; bottom: 15px; left: 10px; right: 10px;
	height: 45px; 
}
.dialogFooter div{
	display:inline-block;
	text-align:center;
	line-height: 45px;
	color: #fff;
	margin:0 1%;
	background-color: red;
}

.dialogFooter div{ background-color: #4acb81; cursor: pointer;}
.dialogFooter div:hover,.dialogFooter div:focus,.dialogFooter div:active {
  background-color: #3bb26d;
}


/*--添加其他证件--*/
.add_other{width: 416px; height: 196px; border: 2px solid #4acb81; background: #fff; position: fixed; top: 50%; left: 50%; margin:-98px 0 0 -208px; z-index: 10000; box-shadow:0px 0px 16px 0px rgba(0,0,0,0.30); border-radius:2px;}
.add_other .padent{ padding: 14px 18px; display: inline-block; width: 100%;}
.add_other .title{height: 40px; background: #e8e8e8; text-align: center; line-height: 40px; font-size: 16px;}
.add_other .form_input{margin-top: 24px;}
.add_other .form_input input{width: 100%; border: 1px solid #E8E8E8; background: #fff; padding: 5px; font-family:'PingFangHK-Light','Microsoft Yahei',Arial,Helvetica,sans-serif;}
.add_other .form_input input:focus{border: 1px solid #999; background: #fbfbfb;}

