.city{background-color:white;width:100px;margin-right:10px;height:30px;border:1px solid #E8E8E8;}
.city_list{width: 500px;}
.city_list select{display: inline-block; width: 100px;margin-right: 10px;height: 25px;margin-left: 5px;}